.top {
    width: auto;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 0.5px solid #9D9CA9;
    background-color: #fff;
  }

    /* chatBattle */
    .card-wrapper {
        display: flex;
      }
      .col1,
      .col2 {
        flex: 1;
        margin: 10px;
      }
      .custom-card {
        margin-top: 10px;
        padding: 10px;
        height: 58vh;
        position: relative; 
      }
      /* .card-tag {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #007bff;
        color: #fff;
        padding: 1px;
        font-size: 10px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
      } */
      .card-tag {
        position: absolute;
        top: 2;
        left: 0;
        background-color: #0CB551;
        color: #fff;
        padding: 0px 15px 0px 3px;
        font-size: 10px;
        font-weight: 400;
        clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
      }
      .model_content{
        font-size: 14px;
        margin-top: 20px;
      }
      .horizontal-line {
        border-top: 2px solid #000000;
        margin-top: 5px;
        width:82vw;
        margin-left: 10px;
      }
      .button-in-row {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
      .button {
        background-color: #007bff;
        color: white;
        border: none;
        width: 19vw;
        padding: 8px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-family: Outfit;
        transition: background-color 0.3s ease;
      }

      .send-button{
        background-color: #007bff;
        color: white;
        border: none;
        width: 5vw;
        margin-left: 10px;
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;
        font-family: Outfit;
        transition: background-color 0.3s ease;
      }
      .input{
        margin-left: 11px;
        width:76vw;
      }
      #model{
        width:40vw;
        height: 5vh;
      }
      .loading-indicator{
        margin: 10vh 0px 0px 15vw;
      }
      option{
        font-family: Outfit;
      }
      span{
        font-family: Outfit;
      }