/* embedded-web-page.component.css */
.custom-iframe {
    /* width: 84vw; */
    height: 81vh;
  }
  .top{
    width: auto;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 0.5px solid #9D9CA9;
    background-color: #fff;
}