.top {
    width: auto;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 0.5px solid #9D9CA9;
    background-color: #fff;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 10px 10px 10px;
  }
  
  .card {
    flex: 1;
    text-align: center;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    max-width: calc(25% - 20px);
    height: 14vh;
    padding: 10px;
    display: flex; /* Added */
    flex-direction: column; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
    position: relative;
  }
  
  .checkbox-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .selected-card {
    border: 2px solid rgb(165, 161, 161);
  }
  span{
    font-family: Outfit;
  }
  #title {
    font-size: 15px;
    font-weight: 500;
    padding: 2px;
    font-family: Outfit;
    color: #0051CB;
  }
  option{
    font-family: Outfit;
  }
  
  #sub-title {
    font-size: 12px;
    font-weight: 500;
    font-family: Outfit;
  }
  
  
  .sub-title{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 2px;
    padding: 0;
  }

  mat-form-field{
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .submit-button {
    margin-left: 16px;
    margin-bottom: 1px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Outfit;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .example-container {
    height: 53vh;
    overflow: auto;
    border: solid 1px black;
  }
  .benchmark{
    height: 62vh;
    border-bottom: solid 1px black;
  }
  /* Reduce the width of the dropdowns */
  .mat-select {
    width: 150px; /* Adjust the width as needed */
  }
  
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 10px;
    width: 25vw;
    
  }
  
  td, th {
    width: 10vw;
    height: 10px;  
    font-family: Outfit;
  }
th{
  color: white;
  font-weight: 400;
  background-color: #455370 !important;
}
td{
  background-color: #F6F9FD !important;
}
  /* chatBattle */
  /* .card-wrapper {
    display: flex;
  }
  .col1,
  .col2 {
    flex: 1;
    margin: 10px;
  }
  .custom-card {
    margin-top: 10px;
    padding: 10px;
    height: 34vh;
    position: relative; 
  }
  .card-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #007bff;
    color: #fff;
    padding: 1px;
    font-size: 10px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .model_content{
    font-size: 14px;
    margin-top: 12px;
  } */
  /* .horizontal-line {
    border-top: 2px solid #000000;
    margin-top: 5px;
    width:82vw;
    margin-left: 10px;
  }
  

  .button-in-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  } */

  /* #model{
    width:40vw;
    height: 5vh;
  } */

  #modelB{
    margin: 10px;
    width:20vw;
    height: 6vh;
  }
  
  /* .button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 19vw;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
/* .send-button{
  background-color: #007bff;
  color: white;
  border: none;
  width: 5vw;
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.input{
  margin-left: 11px;
  width:76vw;
} */

/* chatbot */
/* .chatbot{
  margin: 10px;
  height: 55vh;
}
.chatbot_dropdown{
  border:0;
  outline: 0;
}
.horizontal-line1{
  margin: 0;
}
.area{
  position: relative;
  height: 37vh;
  background-color: #f8f7f8;
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px 22px 1px 22px;
}
.example-chip{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 2px;
}
.example-box{
  height: 20px;
  border: solid 1px black;
  background-color: #f8f7f8 !important;
}
.chatbot_input{
  align-content: center;
  border: solid 1px black;
  border-radius: 10px;
  height: 5vh;
  width: 74vw;
} */


.custom-dropdown {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f2f2f2;
}
/* .loading-indicator{
  margin: 10vh 0px 0px 15vw;
} */
.loading-indicator1{
  margin: 0px 0px 0px 10px;
}