/* Existing styles */
img {
  margin-right: 5px;
}

mat-icon {
  padding-top: 7px;
}

.sub-head {
  margin-left: 25px;
}


/* Add a style for the highlighted Data Ingestion option */
.active-option {
  background-color: #007bff; /* Change to the desired highlight color */
  color: #fff; /* Change to the desired text color for highlighted items */
}


.inactive-option {
  background-color: transparent; /* Background for inactive options */
  color: #000; /* Text color for inactive options */
}

.logout-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  margin-left: 5px;
  background-color: #fff;
  border-top: 1px solid black; 
}
.sidebar-list{
  margin-top: 20px;
}