/* Existing styles */
img {
  margin-right: 5px;
}

mat-icon {
  padding-top: 7px;
}



#option{
  padding-left: 44px;
}

/* Add a style for the highlighted Data Ingestion option */
/* .active-option {
  background-color: #195feaca; 
  color: #fff !important; 
}


.inactive-option {
  background-color: transparent; 
  color: #000 !important; 
} */

.mat-nav-list a.active-option {
  color: #ccc !important;
}

/* Style for the inactive options */
.mat-nav-list a.inactive-option {
  background-color: transparent;
  color: #000;
}


.logout-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  margin-left: 5px;
  background-color: #fff;
  border-top: 1px solid black; 
}
.sidebar-list{
  margin-top: 20px;
}

/* a{
  font-family: Outfit;
} */