/* Existing styles */
img {
  margin-right: 5px;
}

mat-icon {
  padding-top: 7px;
}

.sub-head {
  margin-left: 25px;
}

.active-option {

  color: #fff; /* Text color for active options */
}

.inactive-option {
  background-color: transparent; /* Background for inactive options */
  color: #000; /* Text color for inactive options */
}

.logout-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  margin-left: 5px;
  background-color: #fff;
  border-top: 1px solid black; 
}
