<mat-card class="top">
    <div style="margin-left: 10px;margin-top: 5px;"><span class="head" (click)="Back()">
      <mat-icon class="back_button">navigate_before</mat-icon>Data Ingestion <span class="sub-head">/ Labelled Data</span></span>
      <span *ngIf="!showFolders" class="sub-head"> / {{selectedFolder1}}</span></div>
</mat-card>

<div class="main-container">
    <div class="search-bar">
      <div class="input-icon-container">
        <input type="search" class="search-input" placeholder="Search..." />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
    <div class="button-container" *ngIf="showFolders">
      <button class="end-button" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">+ New Folder</button>
    </div>
</div>
  <!-- Horizontal Line -->
    <hr class="horizontal-line" />

    <Span class="title" *ngIf="showFolders">Folders</Span>

<div class="card-container" *ngIf="showFolders">
  <mat-card class="icon-card" *ngFor="let folder of Folders" (click)="FolderClicked(folder)">
    <div class="image-container">
      <img class="image" src="assets\images\folder.icon.png" />
      <mat-icon>more_vert</mat-icon>
    </div>
    <div class="folder-name">{{folder}}</div>
  </mat-card>
</div>

<section class="example-container mat-elevation-z8" tabindex="0" *ngIf="showDataList">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="File Name">
      <th mat-header-cell *matHeaderCellDef style="width: 30%;"> File Name </th>
      <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.filename}} </td>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="File Type">
      <th mat-header-cell *matHeaderCellDef > File Type </th>
      <td mat-cell *matCellDef="let element" > {{element.type}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef > Date </th>
      <td mat-cell *matCellDef="let element" > {{element.date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef > Description </th>
      <td mat-cell *matCellDef="let element" > {{element.desc}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> <mat-icon data-bs-toggle="modal"
        data-bs-target="#details" >visibility</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <!-- <button mat-icon-button [matMenuTriggerFor]="moreMenu"> -->
          <mat-icon [matMenuTriggerFor]="moreMenu">more_vert</mat-icon>
        <!-- </button> -->
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item >Edit</button>
          <button mat-menu-item >Delete</button>
        </mat-menu> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>


<mat-stepper linear #stepper *ngIf="showCreate">
  <mat-step  [editable]="isEditable">
    <ng-template matStepLabel>Select Raw Data</ng-template>
    
    <div>
      <div>
        <select class="dropdown" [(ngModel)]="selectedFolder" (ngModelChange)="updateFilteredData()">
          <option value="show">Select Raw Data</option>
          <option *ngFor="let name of rawdataFolders">{{name}}</option>
        </select>
      </div>
      
      <div class="table">
        <div class="table-header">
          <div class="header-cell s-column">
            <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()">
          </div>
          <div class="header-cell wide-column" style="font-weight: 550;">Raw Data</div>
        </div>
        <div class="table-row" *ngFor="let data of RawData">
          <div class="table-cell s-column">
            <input type="checkbox" [(ngModel)]="data.selected">
          </div>
          <div class="table-cell wide-column">{{ data.name }}</div>
        </div>
      </div>
      

      <div class="button-container">
        <button class="next-button" (click)="goToNextStep()">Next</button>
      </div>
    </div>
  </mat-step>
  
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Generate Data Set</ng-template>
    <div class="two-column-div">
       <!------- left section -------->
      <div class="left-column" >
        <div class="input-row1">
          <div class="input-item">
            <select id="selectOptionCol" [(ngModel)]="selectedOption" (ngModelChange)="onOptionSelected($event)">
              <option value="option1">Select Task</option>
              <option *ngFor="let task of Task">{{task}}</option>
            </select>
          </div>
          <!-- <div class="input-item">
            <input type="number" id="inputValueCol" placeholder="Enter value">
          </div> -->
        </div>

        <div class="input-row" style="margin-top: 5px;margin-left: 5px;" *ngIf="showPrompt">
          <label class="textareaLabel" for="textareaInput">Prompt</label>
          
          <div id="textareaInput" class="custom-textarea" contenteditable="true">
            <b>Define your task</b><br>Ex: "Translate the following English sentences into French"
          </div>
        </div>
        <div class="input-row" style="margin-top: 5px; margin-left: 5px;">
          <label class="textareaLabel" for="textareaInput">Seed examples</label>
          <textarea id="textareaInput" [rows]="rows" placeholder="">{{seedsExample}}</textarea>
        </div>
        
        <div class="input-row1">
          <button class="button" style="margin-left: 5px;">Clear</button>
          <button class="button" (click)="LoadQuestion()">Generate Dataset</button>
        </div>
      </div>
      <!------- right section -------->
      <div class="right-column" >
        <!-- <div class="input-row1">
          <span>#records: <b>100K</b></span>
          <span>#Words: <b>1000K</b></span>
        </div> -->
        <div id="display-area" rows="14" placeholder="Enter text">
          <div *ngIf="loading" class="loading-indicator1">
            <i class="fas fa-spinner fa-spin"></i> Loading... 
          </div>
          <pre>{{generatedQuestions}}</pre></div>
        <div class="button-wrapper">
          <button class="download-button" (click)="downloadFiles()">Download</button>
         
          <div class="save-container">
            <button class="save-button" data-bs-toggle="modal" data-bs-target="#saveModal">Save & Done</button>
          </div>
        </div>    
      </div>
    </div>
    <div>
    </div>
  </mat-step>
</mat-stepper>
 
  <!-- Modal -->
<div
class="modal fade"
id="staticBackdrop"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content" style="min-width: 38vw;">
    <div class="modal-header">
      <h2 class="modal-title" id="staticBackdropLabel">New Folder</h2>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="input-row">
        <label for="inputLabel">Name</label>
        <input type="text" id="inputLabel" placeholder="Enter the folder name" [(ngModel)]="folderName">
      </div>
    </div>
    <div class="modal-footer">
      <button  type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
        Close
      </button>
      <button  type="button" class="btn btn-primary btn-sm"  (click)="createFolder()"  data-bs-dismiss="modal">Create</button>
    </div>
  </div>
</div>
</div>  


 <!-- Save Modal -->
 <div
 class="modal fade"
 id="saveModal"
 data-bs-backdrop="static"
 data-bs-keyboard="false"
 tabindex="-1"
 aria-labelledby="staticBackdropLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable">
   <div class="modal-content" style="min-width: 38vw;">
     <div class="modal-header">
       <h2 class="modal-title" id="staticBackdropLabel">Save</h2>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"></button>
     </div>
     <div class="modal-body">

       <div class="input-row">
         <label for="inputLabel">Labelled Name</label>
         <input type="text" id="inputLabel" placeholder="Enter name" [(ngModel)]="labelledFile">
       </div>

       <div class="input-row">
        <label for="inputLabel">Description</label>
        <textarea rows="3" class="popup-textarea" [(ngModel)]="labelledDesc"></textarea>
      </div>

     </div>
     <div class="modal-footer">
       <button  type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
         Close
       </button>
       <button  type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="saveData()">Save</button>
     </div>
   </div>
 </div>
 </div>  




 <div class="modal fade right-modal" id="details" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content sourceModal">
      <div class="modal-header">
        <h5 class="modal-title">Content</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollable-content">
          <pre>{{questions}}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button  type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="saveData()">Save</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
