
.top {
    width: auto;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 0.5px solid #9D9CA9;
    background-color: #fff;
  }
  .head{
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    font-family: Outfit;
  }
  .sub-head{
    font-size: 16px;
    font-weight: 500;
    font-family: Outfit;
  }
  .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%; /* Optional: Limit maximum width */
  }
  span{
    font-family: Outfit;
  }
  input{
    font-family: Outfit;
  }
  label{
    font-family: Outfit;
  }
  .search-bar {
    display: flex;
    align-items: center;
   margin-left: 10px;
  }

  .input-icon-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: #e7eef5;
    border-radius: 5px;
  }
  .search-input {
    border: none;
    outline: none;
    width: 24vw;
    background-color: #e7eef5;
  }
  .search-icon {
    /* border: 1px solid; */
    padding: 1px;
    margin-left: 1px;
  }
  .button-container {
    margin-left: 10px; 
  }

  .end-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .horizontal-line {
    border-top: 0.5px solid #9D9CA9;
    margin-top: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* margin-top: 25px; */
  }
  
  .icon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    margin: 10px 13px 10px 15px;
    background-color: white;
    width: 17%; /* Set width to occupy 25% of the row */
    height: 15vh;
    box-sizing: border-box;
  }
  .icon-card:hover{
    border: 1px solid #007bff;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .image {
    margin-left: 20px; /* Add space on the left side of the image */
    width: 30px; /* Adjust the image size as needed */
    height: auto;
  }
  
  mat-icon {
    margin-right: 10px; /* Add space on the right side of the icon */
  }
  .title{
    margin-left: 15px;
  }
  .folder-name {
    margin-top: 10px;
    margin-left: 35px;
    font-family: Outfit;
    font-weight: 500;
    font-size: 12px;
    display: block;
    text-align: left; 
    width: 100%; 
  }
  .input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px; 
    width: 95%;
  }
td,th{
  font-family: Outfit;
}
option{
  font-family: Outfit;
}
/* stepper */

 .mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

/* table section*/
.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 85%;
  margin: 10px 0;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  padding: 10px;
}

.header-cell {
  flex: 1;
  text-align: start;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table-cell {
  flex: 1;
  text-align: start;
}

/* Optional styling for action and option buttons */
.table-cell button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.wide-column {
  flex: 1; 
  min-width: 90%; 
}
.s-column{
  margin-left: 10px;
}
.checkbox1{
  margin-left: 10px;
}

.dropdown{
  height: 5vh;
  margin: 0;
  padding: 0;
}
.next-button {
  padding: 3px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto; 
  align-self: flex-end; 
  font-family: Outfit;
}
/* div {
  
} */
.button-container {
  display: flex;
  flex-direction: column;
}

.two-column-div {
  display: flex;
}

.left-column{
  flex: 1.2;
  padding: 10px;
}
.right-column {
  flex: 1;
  padding: 10px;
}
.loading-indicator1{
  margin-top: 40px;
  margin-left: 40px;
}

.left-column {
  border-right: 1px solid #ccc;
}
textarea{
  margin-top: 0;
}

.input-row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  width: 96%;
}

.input-item {
  width: 46%;
}

#selectOptionCol,
#inputValueCol {
  width: 100%;
  padding: 3px;
}
#inputValueCol {
  margin-right: 5px;
}
#selectOptionCol{
  margin-left: 5px;
  padding: 5px 0px 6px 0px;
}
.button{
  padding: 3px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 46%;
  font-family: Outfit;
}
.textareaLabel{
  font-weight: 500;
  margin-bottom: 0;
}
#display-area{
  border: solid 1px black;
  width: 37vw;
  height: 46vh;
  overflow-y: auto;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.download-button, .save-button {
  padding: 3px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px; /* Adjust the width as needed */
  font-family: Outfit;
}
.download-button{
  background-color:#28a745 !important;
}

.custom-textarea {
  border: 1px solid #ccc;
  padding: 5px; 
  color: black; 
  outline: none; 
  resize: none; 
  width: 100%;
  min-height: 60px; 
  overflow-y: auto; 
}


.right-modal .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; /* Full screen height */
  width: 35vw;
  margin: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.right-modal .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.right-modal.show .modal-dialog {
  transform: translateX(0);
}

.scrollable-content {
  max-height: calc(100vh - 170px); /* Adjust as needed, considering header, footer, and padding/margin */
  overflow-y: auto;
}
.back_button{
  padding-top: 5px;
}

#inputLabel{
  margin-top: 5px;
  padding: 6px;
}
.newFolder{
  padding: 2px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Outfit;
}