<mat-card class="top">
    <div style="margin-left: 10px"><h2 class="mt-2">Model Zoo</h2></div>
</mat-card>

<div class="main-container">
    <div class="search-bar">
      <div class="input-icon-container">
        <input type="search" class="search-input" placeholder="Search by keywords..." />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
    <!-- <div class="button-container">
      <button class="end-button" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">+ Add New Data Source</button>
    </div> -->
</div>
  <!-- Horizontal Line -->
    <hr class="horizontal-line" />

    <div *ngFor="let model of Models; let i = index;">
      <mat-card class="m-3" routerLink="/details" (click)="passData(model,i+1)">
        <div class="d-flex align-items-center m-2">
          <span class="model-label">Model {{ i + 1 }}:</span>
          <span class="model-name">{{ model.name }}</span>
          <span class="icon-container"><mat-icon>navigate_next</mat-icon></span>
        </div>
      </mat-card>
    </div>
    
    
    
    

    <!-- <mat-expansion-panel class="m-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Model: <b>{{model.name}}</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <b>Description</b>
          <p>{{model.description}}</p>
          <hr class="horizontal-line" />
        </div>
        <div>
          <b>Model Architecture</b>
        </div>
      </mat-expansion-panel> -->