<mat-card class="top">
    <div style="margin-left: 10px;margin-top: 10px;"><mat-icon class="back_icon" routerLink="/modelZoo">keyboard_backspace</mat-icon><span class="mt-2 title">Model Zoo </span></div>
</mat-card>

<div class="main-container">
    <div class="search-bar">
      <div class="input-icon-container">
        <input type="search" class="search-input" placeholder="Search by keywords..." />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <button class="end-button" data-bs-toggle="modal"
      data-bs-target="#compare" style="font-family: Outfit;">Compare</button>
    </div>
</div>
  <!-- Horizontal Line -->
    <hr class="horizontal-line" />


    <div class="d-flex">
      <mat-card *ngIf="Model" class="m-2 main-card">
        <span class="card-tag" style="font-family: Outfit;">{{Model.index}} </span>
        <span class="model_name" style="font-family: Outfit;"><b>{{ Model.name}}</b></span>

        <div>
            <span><b class="m-3" style="font-family: Outfit;">Description:</b></span>
            <div class="desc" style="background-color: rgb(243, 243, 242);font-family: Outfit;" >
                {{Model.description}}
            </div>
        </div>
        <hr class="horizontal-line" />
        <div>
          <span><b class="m-3" style="font-family: Outfit;">Dataset Overview:</b></span>
          <div class="desc" style="background-color: rgb(243, 243, 242);">
            <ul style="list-style-type: none;">
                <li *ngFor="let item of Model?.datasetOverview?.split('\n')" style="font-family: Outfit;">{{ item }}</li>
            </ul>
        </div>         
      </div>
        <hr class="horizontal-line" />
        <div>
          <div><span style="font-family: Outfit;"><b class="m-3"> Benchmark</b></span></div>
          <div class="m-3" style="font-family: Outfit;">Note:Values of Benchmark represented in %</div>

          <table class="table">
            <tr>
              <th>Model Name</th>
              <th>GSM8K</th>
              <th>MATH</th>
              <th>MMLU</th>
              <th>BBH</th>
              <th>Human Eval</th>
              <th>C-Eval</th>
              <th>Theorem</th>
              <th>SumEdits</th>
              <th>AGI Eval</th>
              <th>CSR</th>
              <th>A-OKVQA</th>
              <th>Reading</th>
              <th>USMILE</th>
            </tr>
            <tr>
              <td>{{Model.name}}</td>
              <td>{{Model.gsm8k}}</td>
              <td>{{Model.math}}</td>
              <td>{{Model.mmlu}}</td>
              <td>{{Model.bbh}}</td>
              <td>{{Model.humanEval}}</td>
              <td>{{Model.cEval}}</td>
              <td>{{Model.theoremQa}}</td>
              <td>{{Model.sumEdits}}</td>
              <td>{{Model.agiEval}}</td>
              <td>{{Model.commonsenseReasoning}}</td>
              <td>{{Model.aOKVQA}}</td>
              <td>{{Model.readingComprehension}}</td>
              <td>{{Model.usmle}}</td>
            </tr>
          </table>
      </div>
      <hr class="horizontal-line" />

        <div>
            <span style="font-family: Outfit;"><b class="m-3">Model Details:</b></span>
            <div class="d-flex flex-row m-3">
                <div class="mr-3" style="font-family: Outfit;"><b>Objective</b><br>
                <span style="font-family: Outfit;">Input- {{Model.input}}</span><br>
                <span style="font-family: Outfit;">Output- {{Model.output}}</span>
                </div>
                <div class="mr-3" style="font-family: Outfit;"><b>Context Length</b>
                  <br>
                <span style="font-family: Outfit;">{{Model.contextLength}}</span>
                
              </div>
              <div class="mr-3" style="font-family: Outfit;"><b>Source</b><br>
               
                <span style="font-family: Outfit;">{{Model.source}} </span>
              </div>
              <div class="mr-3" style="font-family: Outfit;"><b>Architecture</b><br>
                
                <span style="font-family: Outfit;">{{Model.architecture}} </span>
              </div>
                <div class="mr-3" style="font-family: Outfit;"><b>License</b><br>
                <span style="font-family: Outfit;">{{Model.license}}</span>
              </div>
            </div>
        </div>
        <hr class="horizontal-line" />
        <div>
            <div>
            <span style="font-family: Outfit;"><b class="m-3">Important Links:</b></span></div>
            <div class="m-3">
              <!-- <span class="link" *ngIf="Model.githubBlogs !== null && Model.githubBlogs !== 'NA'" style="font-family: Outfit;">{{ Model.githubBlogs }}</span> -->
              <a class="link" *ngIf="Model.githubBlogs !== null && Model.githubBlogs !== 'NA'" style="font-family: Outfit;" href={{Model.githubBlogs}}>{{ Model.githubBlogs }}</a>
              <br>
              <a class="link" *ngIf="Model.researchPaper !== null && Model.researchPaper !== 'NA'" style="font-family: Outfit;" href={{Model.researchPaper}}>{{Model.researchPaper}}</a>
                <!-- <span class="link" *ngIf="Model.researchPaper!=null && Model.researchPaper!=='NA'" style="font-family: Outfit;">{{Model.researchPaper}}</span> -->
            </div> 
        </div> 
      </mat-card>


    <!--Second card for compare-->
      <mat-card *ngIf="selectedModel" class="m-2 compare-card">
        <!-- <span class="m-2" style="font-family: Outfit;">{{selectedModel.index}}  <b>{{ selectedModel.name}}</b></span> -->
        <span class="card-tag" style="font-family: Outfit;">{{selectedModel.index}} </span>
        <span class="model_name" style="font-family: Outfit;"><b>{{ selectedModel.name}}</b></span>

        <div>
            <span style="font-family: Outfit;"><b class="m-3">Description:</b></span>
            <div class="desc" style="background-color: rgb(243, 243, 242);font-family: Outfit;">
                {{selectedModel.description}}
            </div>
        </div>
        <hr class="horizontal-line" />
        <div>
          <span style="font-family: Outfit;"><b class="m-3">Dataset Overview:</b></span>
          <div class="desc" style="background-color: rgb(243, 243, 242);">
            <ul style="list-style-type: none;">
                <li *ngFor="let item of selectedModel?.datasetOverview?.split('\n')" style="font-family: Outfit;">{{ item }}</li>
            </ul>
        </div>         
      </div>
        <hr class="horizontal-line" />
        <div>
          <div><span style="font-family: Outfit;"><b class="m-3"> Benchmark</b></span></div>
          <div class="m-3" style="font-family: Outfit;">Note:Values of Benchmark represented in %</div>

          <table class="table">
            <tr>
              <th>Model Name</th>
              <th>GSM8K</th>
              <th>MATH</th>
              <th>MMLU</th>
              <th>BBH</th>
              <th>Human Eval</th>
              <th>C-Eval</th>
              <th>Theorem</th>
              <th>SumEdits</th>
              <th>AGI Eval</th>
              <th>CSR</th>
              <th>A-OKVQA</th>
              <th>Reading</th>
              <th>USMILE</th>
            </tr>
            <tr>
              <td>{{selectedModel.name}}</td>
              <td>{{selectedModel.gsm8k}}</td>
              <td>{{selectedModel.math}}</td>
              <td>{{selectedModel.mmlu}}</td>
              <td>{{selectedModel.bbh}}</td>
              <td>{{selectedModel.humanEval}}</td>
              <td>{{selectedModel.cEval}}</td>
              <td>{{selectedModel.theoremQa}}</td>
              <td>{{selectedModel.sumEdits}}</td>
              <td>{{selectedModel.agiEval}}</td>
              <td>{{selectedModel.commonsenseReasoning}}</td>
              <td>{{selectedModel.aOKVQA}}</td>
              <td>{{selectedModel.readingComprehension}}</td>
              <td>{{selectedModel.usmle}}</td>
            </tr>
          </table>
      </div>
      <hr class="horizontal-line" />

        <div>
            <span style="font-family: Outfit;"><b class="m-3">Model Details:</b></span>
            <div class="d-flex flex-row m-3">
                <div class="mr-3" style="font-family: Outfit;"><b>Objective</b><br>
                <span style="font-family: Outfit;">Input- {{selectedModel.input}}</span><br>
                <span style="font-family: Outfit;">Output- {{selectedModel.output}}</span>
                </div>
                <div class="mr-3" style="font-family: Outfit;"><b>Context Length</b>
                  <br>
                <span style="font-family: Outfit;">{{selectedModel.contextLength}}</span>
                
              </div>
              <div class="mr-3" style="font-family: Outfit;"><b>Source</b><br>
               
                <span style="font-family: Outfit;">{{selectedModel.source}} </span>
              </div>
              <div class="mr-3"><b>Architecture</b><br>
                
                <span>{{selectedModel.architecture}} </span>
              </div>
                <div class="mr-3"><b>License</b><br>
                <span >{{selectedModel.license}}</span>
              </div>
            </div>
        </div>
        <hr class="horizontal-line" />
        <div>
            <div>
            <span><b class="m-3">Important Links:</b></span></div>
            <div class="m-3">
              <span class="link" *ngIf="selectedModel.githubBlogs !== null && selectedModel.githubBlogs !== 'NA'">{{ selectedModel.githubBlogs }}</span><br>
                <span class="link" *ngIf="selectedModel.researchPaper!=null && selectedModel.researchPaper!=='NA'">{{selectedModel.researchPaper}}</span>
            </div> 
        </div> 
      </mat-card>
    </div>

 <!-- <mat-card *ngIf="Model" class="m-2">
    <span class="m-2">{{Model.index}} : <b>{{ Model.name}}</b></span>

    <div>
        <span><b class="m-3">description:</b></span>
        <div class="desc" style="background-color: rgb(243, 243, 242);">
            {{Model.description}}
        </div>
    </div>
    <hr class="horizontal-line" />
    <div>
        <span><b class="m-3">Model Architecture</b></span>
        <div class="d-flex flex-row m-3">
            <div class="mr-3"><b>Objective</b>
            
            </div>
            <div class="mr-3"><b>Parameter</b></div>
            <div class="mr-3"><b>License</b></div>
        </div>
    </div>
    <hr class="horizontal-line" />

    <div>
        <div>
        <span><b class="m-3">Important Link:</b></span></div>
        <div class="m-3">
            <span>Link 1: </span><br>
            <span>Link 2: </span>
        </div>

    </div>
    <hr class="horizontal-line" />
    <div>
        <div>
            <span><b class="m-3"> Benchmark</b></span></div>
            <div class="m-3">Note:Values of Benchmark represented in %</div>
    </div>
</mat-card> -->


<!--Source Details Modal -->
<div
class="modal fade "
id="compare"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-scrollable popup2">
  <div class="modal-content popup2_content" >
    <div class="modal-header">
      <h2 class="modal-title" id="staticBackdropLabel" style="font-family: Outfit;">Compare</h2>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div *ngFor="let model of Models;let i=index">
        <mat-card class="p-2 m-2" (click)="compareModel(model,i)">
          <span style="font-family: Outfit;">Model {{i+1}}: <b>{{model.name}}</b></span>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</div>