<mat-card class="top">
  <div style="margin-left: 10px;margin-top: 5px;"><Span class="head" (click)="Back()">
    <mat-icon class="back_button">navigate_before</mat-icon> Data Ingestion <span class="sub-head">/ Raw-Data</span></Span>
  <span *ngIf="showDataList" class="sub-head"> / {{selectedFolder}}</span></div>
</mat-card>

<div class="main-container">
  <div class="search-bar">
    <div class="input-icon-container">
      <input type="search" class="search-input" placeholder="Search by keywords..." />
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </div>
  <div class="button-container" *ngIf="!showFolders">
    <button mat-button [matMenuTriggerFor]="menu" class="end-button">+ Add Source</button>
    <mat-menu #menu="matMenu">
      <!-- <input type="search" class="dropdown-search-input" placeholder="Search options..." /> -->
      <button mat-menu-item *ngFor="let data of SourceData" data-bs-toggle="modal"
      data-bs-target="#getSource" (click)="sourceSelected(data.name)">
        <div class="icon-and-name">
          <img [src]="data.icon" width="17px" height="17px" class="icon" style="margin-top: 5px;">
          <span class="option-name">{{ data.name }}</span>
        </div>
      </button>
    </mat-menu>
  </div>
  <div class="button-container" *ngIf="showFolders">
    <button class="end-button" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">+ New Folder</button>
  </div>
</div>

<app-source *ngIf="selectedSource" [data]="selectedSource"></app-source>


<!-- Horizontal Line -->
<hr class="horizontal-line" />

<Span class="title" *ngIf="showFolders">Folders</Span>

<div class="card-container" *ngIf="showFolders">
  <mat-card class="icon-card" *ngFor="let folder of Folders" (click)="FolderClicked(folder)">
    <div class="image-container">
      <img class="image" src="assets\images\folder.icon.png" />
      <mat-icon [matMenuTriggerFor]="moreMenu1" (click)="$event.preventDefault();$event.stopPropagation()">more_vert</mat-icon>

      <mat-menu #moreMenu1="matMenu">
        <button mat-menu-item >Edit</button>
        <button mat-menu-item (click)="deleteFolders(folder)">Delete</button>
      </mat-menu>
    </div>
    <div class="folder-name" (click)="$event.preventDefault();$event.stopPropagation()">{{folder}}</div>
  </mat-card>

  
</div>



<section class="example-container mat-elevation-z8" tabindex="0" *ngIf="showDataList">
  <table mat-table [dataSource]="dataSource">
    
    <ng-container matColumnDef="File Name">
      <th mat-header-cell *matHeaderCellDef style="width: 35%;"> File Name </th>
      <td mat-cell *matCellDef="let element" style="width: 35%;"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Source">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Source </th>
      <td mat-cell *matCellDef="let element" style="width: 10%;">{{element.source}}</td>
    </ng-container>

    <ng-container matColumnDef="File Type">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"> File Type </th>
      <td mat-cell *matCellDef="let element" style="width: 10%;">{{element.type}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Date </th>
      <td mat-cell *matCellDef="let element" style="width: 10%;"> 
          {{element.date}}   </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Status </th>
      <td mat-cell *matCellDef="let element" style="width: 10%;">
        {{element.status}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Progress" *ngIf="showProgress">
      <th mat-header-cell *matHeaderCellDef style="width: 2%;"></th>
      <td mat-cell *matCellDef="let element" style="width: 2%;">
        {{element.Progress}}
      </td>
    </ng-container> -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Status </th>
      <td mat-cell *matCellDef="let element" style="width: 15%;">
        <div *ngIf="element.status === 'In-progress'">        
        <mat-progress-bar mode="determinate" [value]="element.progress" color="primary"></mat-progress-bar>
        </div>
        <div *ngIf="element.status === 'Completed'">
          <span>Completed</span>
        </div>
      </td>
    </ng-container>


    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Actions </th>
      <td mat-cell *matCellDef="let element" style="width: 10%;">
          <mat-icon data-bs-toggle="modal" data-bs-target="#sourceModal1" (click)="viewData(element.name)">visibility</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">  
          <mat-icon [matMenuTriggerFor]="moreMenu">more_vert</mat-icon>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item >Edit</button>
          <button mat-menu-item >Delete</button>
        </mat-menu> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>


<!-- Modal -->
<div class="modal fade right-modal" id="sourceModal1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content sourceModal">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollable-content">
          {{content}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content" style="min-width: 38vw;">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">New Folder</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-row">
          <label for="inputLabel">Name</label>
          <input type="text" id="inputLabel" placeholder="Enter the folder name" [(ngModel)]="folderName">
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
          Close
        </button>
        <button  type="button" class="btn btn-primary btn-sm"  (click)="createFolder()"  data-bs-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal"
  id="getSource"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content" style="min-width: 38vw;">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">{{selectedSource}}</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <div class="input-container" *ngIf="!showLocal">
          <label for="urlInput" class="label">Enter URL</label>
          <input id="urlInput" type="text" [(ngModel)]="InputFile" placeholder="Enter URL here.." class="url-input">
        </div>
      
        <div *ngIf="!showLocal">
          <div *ngFor="let input of additionalInputs; let i = index" class="input-container">
            <label class="label">Enter Url {{ i + 2 }}</label>
            <input type="text" class="additional-input" [(ngModel)]="additionalInputs[i]">
          </div>
        </div>
        
        <div class="button-container" *ngIf="!showLocal">
          <span mat-button color="primary" (click)="addInputField()" class="addNewButton">+ Add URL</span>
        </div>
        
        <div class="input-container" *ngIf="!showWeb">
          <label for="fileInput" class="file-label">
            <i class="fas fa-cloud-upload-alt"></i>
            Click here to choose file
          </label>
          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            class="file-input"
            webkitdirectory>
        </div>
        <div *ngIf="selectedFiles.length > 0" class="selected-files">
          <p> Selected Files</p>
          <ul>
            <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"  >
          Close
        </button>
        <button  type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"  (click)="saveSource1()">Ingest</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="sourceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> -->


