
.top{
    width: auto;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 0.5px solid #9D9CA9;
    background-color: #fff;
}
.head{
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
}
.sub-head{
  font-size: 16px;
  font-weight: 500;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.search-bar {
  display: flex;
  align-items: center;
 margin-left: 10px;
}
.input-icon-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
}
.search-input {
  border: none;
  outline: none;
  width: 25vw;
}
.search-icon {
  border: 1px solid;
  padding: 1px;
  margin-left: 1px;
}
.button-container {
  margin-left: 10px; 
}
.end-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.icon-and-name {
  display: flex;
  flex-direction: row;
}
.icon {
  margin-right: 5px;
  margin-left: 5px;
}
.dropdown-search-input {
  width: 90%;
  margin: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.option-name{
  margin-left: 2px;
  font-size: 11px;
  font-weight: 500;
}
.horizontal-line {
  border-top: 0.5px solid #9D9CA9;
  margin-top: 0;
  padding: 0;
  margin-bottom: 5px;
}
.title{
  margin-left: 15px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* margin-top: 25px; */
}
mat-select{
  width: 10vw;
}
.icon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  margin: 10px 13px 10px 15px;
  background-color: white;
  width: 17%; /* Set width to occupy 25% of the row */
  height: 15vh;
  box-sizing: border-box;
}
.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.image {
  margin-left: 20px; 
  width: 30px; 
  height: auto;
}
mat-icon {
  margin-right: 10px; 
}
.folder-name {
  margin-top: 10px;
  margin-left: 35px;
  font-size: 12px;
  display: block;
  text-align: left; 
  width: 100%; 
}

/* popup styles*/
.input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; 
}
.input-row label {
  margin-bottom: 5px; 
}

.mat-elevation-z8{
  margin: 1.5px;
  border: 0.5px solid black;
  height:72vh;
  text-align: center;
}
th,td{
  text-align: center;
}
.scrollable-container {
  max-height: 71.5vh; 
  overflow-y: auto;
}



.right-modal .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; 
  width: 35vw;
  margin: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.right-modal .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.right-modal.show .modal-dialog {
  transform: translateX(0);
}

.scrollable-content {
  max-height: calc(110vh - 210px); /* Adjust as needed, considering header, footer, and padding/margin */
  overflow-y: auto;
}

.back_button{
  padding-top: 5px;
}




/* .button-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px; 
} */

.buttons {
  margin-left: 10px; 
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* mat-dialog-content {
display: flex;
flex-direction: column;
align-items: flex-start;
} */

.input-container {
margin-bottom: 10px;
}

.label {
font-size: 14px;
font-weight: 500;

}

.url-input,
.additional-input {
width: 100%;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 12px;
}

.file-label {
display: flex;
align-items: center;
padding: 45px 75px;
border: 2px dashed #ccc;
cursor: pointer;
text-align: center;
font-size: 18px;
background-color: #ebebeb;
}

.file-input {
display: none;
}

.fa-cloud-upload-alt {
margin-right: 5px;
}

.addNewButton{
cursor: pointer;
color: black;
font-size: 12px;
font-weight: 500;
}


/* CSS for the progress bar */
.progress-container {
  width: 100%;
  height: 40px; /* Adjust height as needed */
  border: 1px solid #ccc; /* Add a border for visibility */
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #4CAF50; /* Progress bar color */
  text-align: center;
  line-height: 40px; /* Should match the height of .progress-container */
  color: white;
  transition: width 0.5s; /* Add a transition effect for smooth progress updates */
}
.custom-progress-bar {
  height: 30px; /* Adjust the height as needed */
}