
<div class="fullscreen-image">
    <img src="../../assets/images/llm.jpg" alt="Full Screen Image" />
    <div class="content">
     <div class="p-2">
      <img src="../../assets/images/jkt.white.logo.png" class="jkt" alt="">
     </div>
     <div class="p-2 mt-3">
      <p class="para"> <span class="spa">Generative AI</span> </p>
      <p class="sub py-3">powered by JKTech</p>
      <button type="button" class="btn btn-light" routerLink="/dataIngestion/rawdata" (click)="start()">Let's Start</button>
     </div>
    </div>
  </div>
  